
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SupermercadoLayout.cshtml";
}

<br />

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">SEJA BEM VINDO!</h3>
    </div>
    <div class="panel-body">
        <p>Você está na área administrativa do iMarket.</p>
        <p>Recomendamos cautela, pois alguns ações não podem ser desfeitas.</p>
    </div>
</div>


