@using iMarket.HtmlHelpers
@using iMarket.ViewModels
@model ProdutosListViewModel

@{
    ViewBag.Title = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row panel">
    <div id="categorias" class="col-xs-3">
        @Html.Action("Menu", "Nav")
    </div>
    <div class="col-xs-8">

        <h1>@ViewBag.Title</h1>

        @foreach (var p in Model.Produtos)
        {
            @Html.Partial("ProductSummary", p)
        }

        <div class="btn-group pull-right">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
        new { pagina = x, departamento = Model.DepartamentoIdAtual }))
        </div>
    </div>
</div>