@model iMarket.Models.Carrinho
<ul class="nav navbar-nav">
    <div class=" col-lg-2 navbar-right">
        @Html.ActionLink(" ", "Index", "Carrinho",
        new { returnUrl = Request.Url.PathAndQuery },
        new { @class = "btn btn-default navbar-btn glyphicon glyphicon-shopping-cart" })
    </div>

    <div class="navbar-text navbar-right">
        <div class=""></div>
        @Model.Lines.Sum(x => x.Quantidade) item(s),
        @Model.ComputeTotalValue().ToString("c")
    </div>
</ul>