@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>Estamos ansiosos para ouvir você!</h3>

<address>
    One Microsoft Way<br />
    Uberlândia, MG 38400-555<br />
    <abbr title="Telefone">Tel:</abbr>
    (34) 3226-8985
</address>

<address>
    <strong>Suporte:</strong>   <a href="ralphwbms@yahoo.com.br">ralphwbms@yahoo.com.br</a><br />
    <strong>Suporte:</strong>   <a href="arantes_andrade@hotmail.com">arantes_andrade@hotmail.com</a><br />
</address>